# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
storevenv/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# mac/windows
.DS_Store
Thumbs.db

# sensitive / env
.env
datadump.json